.square {
    width: 260px;
    height: 260px;
    border-style: groove;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 798px;
    height: 798px;
}

.mole {
    background-image: url(Moleimg.jpg);
    background-size: cover;
}